In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./dataset/training.csv")

In [5]:
df

           subDirectory_filePath  expression
0         anger/image0000006.jpg           0
1         anger/image0000007.jpg           1
2         anger/image0000012.jpg           1
3         anger/image0000035.jpg           2
4         anger/image0000060.jpg           1
...                          ...         ...
30997  surprise/image0034961.jpg           0
30998  surprise/image0034966.jpg           0
30999  surprise/image0034973.jpg           5
31000  surprise/image0034977.jpg           0
31001  surprise/image0042075.jpg           3

[31002 rows x 2 columns]

In [6]:
df["subDirectory_filePath"] = [f"imgs/{d}" for d in df["subDirectory_filePath"]]

In [7]:
df

                subDirectory_filePath  expression
0         imgs/anger/image0000006.jpg           0
1         imgs/anger/image0000007.jpg           1
2         imgs/anger/image0000012.jpg           1
3         imgs/anger/image0000035.jpg           2
4         imgs/anger/image0000060.jpg           1
...                               ...         ...
30997  imgs/surprise/image0034961.jpg           0
30998  imgs/surprise/image0034966.jpg           0
30999  imgs/surprise/image0034973.jpg           5
31000  imgs/surprise/image0034977.jpg           0
31001  imgs/surprise/image0042075.jpg           3

[31002 rows x 2 columns]

In [8]:
df.to_csv("./dataset/training.csv", index=False)